/*
 * 
 *============所有页面基本样式=============== 
 *
 */
html,body{
	height: 100%;
}
/*颜色插件*/
.sp-light{
    padding: 2px;
    margin-top: -2px !important;
}
 .sp-preview{
	margin: 0 !important;
	border: 0 !important;
    width: 30px;
    height: 10px;
}
.sp-dd{
	display: none;
}
/*-====头部=====*/
.header{
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	border-bottom: 1px solid #cecece;
	font-size: 14px;
	color: #0a0eda;
	position: relative;
	background: #f9f2d9;
}
.header #J-xiazai{
	position: absolute;
	top: 0;
	left: 25px;
}
.header .this_text {
	height: 100%;
	text-align: right;
	float: right;
	line-height: initial;
	text-align: center;
}
.header .this_text textarea{
    height: calc(100% - 7px);
    margin-right: 1px;
    border: 1px solid #e0dcd8;
    color: #25241c;
    border-radius: 3px;
    text-indent: 2px;
    margin-top: 2px;
    width: 255px;
    margin-left: 3px;
    padding: 1px;
    line-height: 16px;
}
.header .this_text span{
	float: left;
	color: #928c8c;
}
.header .this_text span button{
    background: #ececec;
    border: 0;
    padding: 2px;
    color: black;
}
/**/
.main_modules {
	position: relative;
	float: right;
	background: #ececec;
	width: 96px;
	height: 100%;
}
.modules_warp{
	margin: 5px 10px;
	width: calc(100% - 20px);
	height: calc(100% - 10px);
	overflow: auto;
}
.modules_warp ul{
	width: 100%;
	height: 100%;
}
.modules_warp li{
	width: 100%;
	overflow: hidden;
	font-size: 12px;
	line-height: 24px;
}
.modules_warp h1 input{
	height: 18px;
   border: 1px solid #e0dcd8;
   text-align: center;
   color: #200edb;
   border-radius: 3px;
   text-align: center;
   width: calc(100% - 2px);
}
.modules_warp li input{
	height: 18px;
   border: 1px solid #e0dcd8;
   text-align: center;
   color: #200edb;
   border-radius: 3px;
}
.modules_warp li label{
	text-align: left;
	width: 39px;
	display: block;
	float: left;
	text-indent: 3px;
}
.main_modules .SelectArea {
	width: 50px;
	position: absolute;
	top: 0;
	left: -50px;
	background: #828282;
	height: 100%;
	display: none;
	overflow: auto;
}
.main_modules .SelectArea input[type="button"]{
	background: #e0dcd8;
	border: 1px solid #c8cace;
	cursor: pointer;
	position: relative;
}
.main_modules .SelectArea::-webkit-scrollbar{
	width:0px;
}
.modules_warp::-webkit-scrollbar{
	width:0px;
}

/*===main===*/
.main{
	height: calc(100% - 46px);
}
.navmenu{
	font-size: 12px;
	float: left;
	width: 69px;
	height: 100%;
	background:#ececec;
	background-size: 100% 100%;
	position: relative;
	border-right:1px solid #ececec; ;
}
.navmenu .basic{
    text-align: center;
    overflow: auto;
    height: 100%;
}
.navmenu_fujia{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 45px;
    right: -45px;
    height: 100%;
    background: #828282;
    display: none;
    overflow: auto;
    text-align: center;
}
.navmenu_fujia li{
	cursor: pointer;
}
.basic .title{
    line-height: 20px;
    color: #000000;
    cursor: pointer;
    overflow: hidden;
    font-weight: bold;
}
.submenu{
	display: none;
  background: #ffffff;
   color: #ecba07;
}
.submenu ul li{
   line-height: 18px;
	cursor: pointer;
	border-bottom: 1px solid #ececec;
}
.submenu ul li a{
	display: block;
}
.submenu ul li:active{
	color: red;
}
.navmenu::-webkit-scrollbar,.navmenu .basic::-webkit-scrollbar{
	width: 0;
}
.main_html{
	height: 100%;
	overflow: hidden;
	float: left;
	width: calc(100% - 166px);
}
.main_warp{
   height:100%;
	overflow: auto;
	width: calc(100% - 2px);
}
.main_warp::-webkit-scrollbar{
	width:8px;
	height: 8px;
	background: #d8d6d6;
}
.main_warp::-webkit-scrollbar-button{ 
	background: #b19c9c;
   width: 0;
   height: 0;
}
.main_warp::-webkit-scrollbar-thumb{ 
	background: #9a9a9a;
}
::-webkit-scrollbar-corner{ 
	background: #d8d6d6;
}

/*底部*/
.footer{
	height: 4px;background: #f9f2d9;border-top: 1px solid #cecece;
}
