/*
 * 
 *============所有页面基本样式=============== 
 *
 */
html,body{
	height: 100%;
}
/*颜色插件*/
.sp-light{
    padding: 2px;
    margin-top: -2px !important;
}
 .sp-preview{
	margin: 0 !important;
	border: 0 !important;
    width: 30px;
    height: 10px;
}
.sp-dd{
	display: none;
}
/*-====头部=====*/
.header{
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	border-bottom: 1px solid #cecece;
	font-size: 14px;
	color: #0a0eda;
	position: relative;
	background: #f9f2d9;
}
.header #J-xiazai{
	position: absolute;
	top: 0;
	left: 25px;
}
.header .SelectArea{
	position: absolute;
	top: 1px;
	left: 0;
	background: rgba(253, 253, 253, 0.9);
	width: 100%;
	padding: 0 10px;
	display: none;
}
.header .SelectArea button{
    border: 0;
    padding: 5px;
    background: #cad2ba;
    border-radius: 4px;
}
.header .warp {
	width: 100%;
	height: 100%;
	text-align: center;
}
.header .warp input{
    height: 18px;
    margin-right: 10px;
   	border: 1px solid #e0dcd8;
    text-align: center;
    color: #200edb;
    border-radius: 3px;
}
.header .warp input[type="button"]{
	background: #e0dcd8;
	border: 1px solid #c8cace;
	cursor: pointer;
}
/**/
.main_modules {
	position: relative;
	float: right;
	background: #ececec;
	width: 100px;
	height: 100%;
}
.modules_warp{
	margin: 10px;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	overflow: auto;
}
.modules_warp ul{
	width: 100%;
	height: 100%;
}
.modules_warp li{
	width: 100%;
	overflow: hidden;
	font-size: 12px;
	line-height: 24px;
}
.modules_warp li input{
	height: 18px;
   	border: 1px solid #e0dcd8;
    text-align: center;
    color: #200edb;
    border-radius: 3px;
}
.modules_warp li label{
	text-align: left;
	width: 37px;
	display: block;
	float: left;
}
.main_modules .SelectArea {
	width: 50px;
	position: absolute;
	top: 0;
	left: -50px;
	background: #828282;
	height: 100%;
}
.main_modules .SelectArea input[type="button"]{
	background: #e0dcd8;
	border: 1px solid #c8cace;
	cursor: pointer;
	position: relative;
	
}
.modules_warp::-webkit-scrollbar{
	width:0px;
}

/*===main===*/
.main{
	height: calc(100% - 51px);
}
.navmenu{
	font-size: 14px;
	float: left;
	width: 100px;
	height: 100%;
	overflow: auto;
	background:#ececec;
	background-size: 100% 100%;
}
.navmenu::-webkit-scrollbar{
	width: 0;
}
.navmenu ul{
	margin: 15px;
}
.navmenu ul li{
	background: red;
	line-height: 20px;
	cursor: pointer;
	margin-bottom: 1px;
	text-align: center;
}
.main_html{
	height: 100%;
	overflow: hidden;
	float: left;
	width: calc(100% - 200px);
}
.main_warp{
	height: calc(100% - 10px);
	overflow: auto;
	padding: 5px;
	padding-bottom: 40px;
}
.main_warp::-webkit-scrollbar{
	width:0px;
}